<p>Let's play a game session cookie. Enter the names of all players.</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: create_session_path) do |f| %>

      <%= f.label :players %>
      <%= f.text_field :players, value: nil, placeholder: 'e.g Tom, Dick, Harry', class: 'form-control', placeholder: "Tom, Dick, Harry" %>

      <%= f.submit "Start the game", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>