<p>We need to get this actor's movies from the database. Please press the submit button.</p><br>
<%= form_tag('/movies') do %>
  <%= hidden_field_tag(:tmdb_id, @actor.tmdb_id)%>
  <%= submit_tag("Let's get the movies.") %>
<%end%>
<%= @actor.bio %>
