<h1><%= @movie.title %></h1>
<% ['directors', 'cast', 'screenwriters', 'overview']. each do |movie_key| %>
  <%if @movie[movie_key] %>
    <p><b><%= movie_key.capitalize %>: </b> <%= @movie[movie_key]%></p>
  <%end%>
<%end%>
<p><b>Poster: </b><%= link_to('Link', @movie.poster_path) %></p>
